
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    --primary:#03C4A1;
    --secundary: #EEEEEE;
    --tertiary: aqua;
    --dark1: #393E46;
    --dark2:#232931;
}
/************************************************/

body{

    position: relative;
    font-family: Verdana, Georgia, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background-color: var(--dark1);
    width: 100%;
    height: 100vh;
}
header {

    color: var(--secundary);
    background-color: var(--dark2);
    position: fixed;
    width: 100%;
    overflow: hidden;
    padding: 1em 5%;
    
}
.logo{
    
    color: var(--secundary);
    text-decoration: none;
    list-style: none;
    
}
.logo-f{

    background-color: var(--primary);
    border: 1px solid var(--secundary);
    border-radius: 5px;
    padding: 0.5em 0em;
  
}

.logo span{
    background-color: var(--secundary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    padding: 0.5em 0em;
}
           

.header__nav{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav__ico li{
    list-style: none;
    padding: 0em 0.5em;
}
.nav__ico li a{
    color: var(--secundary);
    text-decoration: none;
}
.nav__ico li a:hover{
    color: var(--primary);
}
.nav__ico li a img{
    border-radius: 50%;
}
.nav__ico li a img:hover{
    background-color: var(--primary);
}
.nav__ul{

    width: 55%;
    justify-content: space-around;
    padding: 1em;
}
.nav__ul li{

    list-style: none;
}

.nav__ul--link{

    color: var(--secundary);
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 1.5em;
}
.nav__ul--link--active{

    color: var(--primary);
}
.nav__ul--link--active:hover{
    color: var(--secundary);
}
.nav__ul--link:hover{

    background-color: var(--primary);
    transition: ease-in .3s;
}

/****************INICIO DE MAIN********************/

main{
   
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 6em 0em;
}
.main-begin{

    color: var(--secundary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0em;
    
}

.main-begin h2{
    
    justify-content: space-evenly;
    align-items: center;
}
.main-begin span{

    color: var(--primary);
    
}
.img-fer{

    margin: 1em;
    border: 2px solid var(--primary);
    border-radius: 100px;
    box-shadow: 0px 0px 5px var(--primary);
}
.profile-description{

    padding: 2em 0em;
    margin-left: 4%;
    margin-right: 4%;
}

.profile-title{
    color: var(--primary);
    padding: 0.5em 0em;
}   

.button-cv{

    color: var(--secundary);   
    background-color: var(--primary);
    text-decoration: none;
    padding: 0.5em;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    border: none;
  }
  .button-cv:hover{
    
    background-color: var(--tertiary);
  }
.download-cv{

    display: flex;
    justify-content: space-around;
    list-style: none;
  }
.technology{

    color: var(--secundary);   
    align-items: center;
    justify-content: space-between;   
    text-align: center;
}
.technology h2{

    color: var(--primary);
    padding: 0.5em;
}
.technology-lenguage{

    display: flex;   
    justify-content: space-between;
    padding: 1em;
}

.technology-lenguage div{

    border: 1px solid var(--secundary);
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px var(--secundary);
    padding: 0.5em;
    
}

/* Animación de rotación */

@keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.technology-lenguage div:hover{
    animation: girar 2s linear infinite;
}

/*******************CONTACTO********************/

.contacto{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.contacto-form{
    
    width: 40%;
    color: var(--secundary);
    border: 1px solid var(--dark2);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--dark2);
    
}
.contacto h2{

    color: var(--primary);
    text-align: center;
    padding: 0.5em;
}
#formulario{

    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1em 0em;
}
#formulario label{

    display: block;
    padding: 0.5em;
    
}
.formulario-input{

    width: 80%;
    border-radius: 10px;
    padding: 1em;
    border: none;
}
#formulario textarea {
    width: 80%; /* Ancho inicial */
    height: 150px; /* Altura inicial */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
  }
.btn-enviar{

    background-color: var(--primary);
    text-align: center;
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    margin: 1em;
    
}
.btn-enviar a{

    color: var(--secundary);
    text-decoration: none;
}
.btn-enviar:hover{

    background-color: var(--tertiary);
}
/*********************FOOTHER********************/

footer {
    
    background-color: var(--dark2);
    color: var(--secundary);
    text-align: center;
    padding: 1em;
   
}
.redes-sociales{

    padding: 1em;
}
.redes-sociales img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    
}
.redes-sociales img:hover {
    background-color: var(--secundary);
    border-radius: 50%;
    
}
@media (max-width: 768px) {
    .redes-sociales img {
      width: 20px;
      height: 20px;
    }
}