
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*modo dark*/
    --primary:#03C4A1;
    --secundary: #EEEEEE;
    --tertiary: aqua;
    --dark1: #393E46;
    --dark2:#232931;
    /*modo claro*/
    --tono1: #E7F6F2;
    --tono2: #A5C9CA;
    --tono3: #395B64;
    --tono4: #2C3333;
}
/************************************************/

body{

    position: relative;
    font-family: Verdana, Georgia, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background-color: var(--dark1);
    width: 100%;
    height: 100vh;
}
header {

    color: var(--secundary);
    background-color: var(--dark2);
    position: fixed;
    width: 100%;
    overflow: hidden;
    padding: 1em 5%;
    
}
.logo{
    
    color: var(--secundary);
    text-decoration: none;
    list-style: none;
    
}
.logo-f{

    background-color: var(--primary);
    border: 1px solid var(--secundary);
    border-radius: 5px;
    padding: 0.5em 0em;
  
}

.logo span{
    background-color: var(--secundary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    padding: 0.5em 0em;
}
           

.header__nav{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav__ico li{
    list-style: none;
    padding: 0em 0.5em;
}
.nav__ico li a{
    color: var(--secundary);
    text-decoration: none;
}
.nav__ico li a:hover{
    color: var(--primary);
}
.nav__ico li a img{
    border-radius: 50%;
}
.nav__ico li a img:hover{
    background-color: var(--primary);
}
.nav__ul{

    width: 55%;
    justify-content: space-around;
    padding: 1em;
}
.nav__ul li{

    list-style: none;
}

.nav__ul--link{

    color: var(--secundary);
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 1.5em;
}
.nav__ul--link--active{

    color: var(--primary);
}
.nav__ul--link--active:hover{
    color: var(--secundary);
}
.nav__ul--link:hover{

    background-color: var(--primary);
    transition: ease-in .3s;
}

/****************INICIO DE MAIN********************/

main{
   
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5em 0em;
}
.main-begin{

    color: var(--secundary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0em;
    margin: 1em;
}

.main-begin h2{
    
    justify-content: space-evenly;
    align-items: center;
}
.main-begin span{

    color: var(--primary);
    
}
.img-fer{

    margin: 1em;
    border: 2px solid var(--primary);
    border-radius: 100px;
    box-shadow: 0px 0px 5px var(--primary);
}
.profile-description{

    padding: 2em 0em;
    margin-left: 4%;
    margin-right: 4%;
}

.profile-title{
    color: var(--primary);
    padding: 0.5em 0em;
}   

.button-cv{
    color: var(--secundary);
    border: 2px solid var(--primary);  
    /*background-color: var(--primary);*/
    text-decoration: none;
    padding: 0.5em;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    /**border: none;**/
}
  .button-cv:hover{
    
    background-color: var(--primary);
  }
.download-cv{

    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  /********TEGNOLOGIA*********/ 

.technology{
    display: grid;
    color: var(--secundary);   
    /**background-color: var(--tono1);**/
    text-align: center;
    /**align-items: center;
    justify-content: space-between;   **/
    
}
.titulo-seccion{
    display: inline;
    /**background-color: var(--dark2);**/
    color: var(--secundary);
   /** border: 2px solid var(--primary);
    border-radius:5em;**/
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color: var(--primary);
    margin-bottom: 1.5em;
}
.technology-lenguage{
    margin: 1em;
    display: flex;   
    justify-content: space-between;
    padding: 2em 1em;
}

.technology-lenguage div{

    border: 1px solid var(--secundary);
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px var(--secundary);
    padding: 0.5em;

    
}
.technology-lenguage div img{
    /**width: 100px;**/
}
/* Animación de rotación */

@keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.technology-lenguage div:hover{
    animation: girar 2s linear infinite;
}
/***********PORTAFOLIO**************/
.portafolio{
    /*justify-content: space-between; */  
    
    
    display: grid;
}
.portafolio__general{
    
    display: flex;
    grid-column-gap: 10px;
}
.portafolio div{
    
    
    /**width: 200px;
    text-decoration:  none;align-content: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: var(--secundary);*/
}
.portafolio-container{
    /**background-color: var(--dark2);*/
    text-align: center;
    border: 1px solid var(--dark2); 
    color: var(--secundary);
    width: 300px;
    display: flexbox;
    border-radius: 10px;
    padding: 1em;
    /*box-shadow: 2px 2px 2px 1px var(--dark2);*/
    box-shadow: 0 0 10px var(--dark2);
    transition: transform 0.3s ease; /* Suaviza la transición de la transformación */
}
.portafolio-container img{
    
    width: 250px;
}
.portafolio-container h3{
    color: var(--primary);
    
}
.portafolio-container p{
    text-align: left;
    
}
.portafolio-container:hover {

    transform: scale(1.2); /* Aumenta el tamaño del div al 120% */
}
/*******************CONTACTO********************/

.contacto{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.contacto-form{
    
    width: 40%;
    color: var(--secundary);
    border: 1px solid var(--dark2);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--dark2);
    
}
.contacto h2{

    color: var(--primary);
    text-align: center;
    padding: 0.5em;
}
#formulario{

    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1em 0em;
}
#formulario label{

    display: block;
    padding: 0.5em;
    
}
.formulario-input{

    width: 80%;
    border-radius: 10px;
    padding: 1em;
    border: none;
}
#formulario textarea {
    width: 80%; /* Ancho inicial */
    height: 150px; /* Altura inicial */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
  }
.btn-enviar{

    background-color: var(--primary);
    text-align: center;
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    margin: 1em;
    
}
.btn-enviar a{

    color: var(--secundary);
    text-decoration: none;
}
.btn-enviar:hover{

    background-color: var(--tertiary);
}
/*********************FOOTHER********************/

footer {
    
    background-color: var(--dark2);
    color: var(--secundary);
    text-align: center;
    padding: 1em;
   
}
footer h2{
    padding: 0.5em 0em;
}
.redes-sociales{

    padding: 1em;
}
.redes-sociales img {
    width: 32px;
    height: 32px;
    margin: 0 5px;
    
}
.redes-sociales img:hover {
    background-color: var(--secundary);
    border-radius: 50%;
    
}
@media (max-width: 768px) {
    .redes-sociales img {
      width: 20px;
      height: 20px;
    }
}
/**********************CAMBIAR DE FONDO CON JAVASCRIPT***********/

.cambiarColor{

    background-color: var(--tono1);
/*****cabecera********/
    header{
        background-color: var(--tono4);
    }
    .nav__ul--link{
        color: var(--tono1);
    }
    .nav__ul--link:hover{
        background: var(--tono3);
    }
    .nav__ico li a:hover{
        color: var(--tono2);
    }
    .nav__ico li a img:hover{
        background-color: var(--tono2);
    }
    .nav__ul--link--active{
        color: var(--tono2);
    }

/******SOBRE MI*******/
    .profile-title{
        color: var(--tono3);
    }
    .caracteristica{
        color: var(--tono4);
    }
    .button-cv{
        background-color: var(--tono3);
        color: var(--tono1);
    }
    .button-cv:hover{
        background-color: var(--tono4);
    }

    .profile-picture{
        color: var(--tono3);
    }
    .profile-picture span{
        color: var(--tono3);
    }
    .img-fer{

        border: 2px solid var(--tono2);
        box-shadow: 0px 0px 5px var(--tono2);
    }
    .technology{
        color: var(--tono4);
    }
    .technology h2{
        color: var(--tono3);
    }
    .technology-lenguage div{

        border: 1px solid var(--tono3);
        box-shadow: 0px 0px 5px var(--tono3);
        
    }
    footer{
        background-color: var(--tono4);
        color: var(--tono1);
    }
    .redes-sociales img:hover {
        background-color: var(--tono1);
    }
}